<div class="card">
  <div class="card-header">
    <div class="card-title">Bienvenido!</div>
    <div class="card-subtitle">Que bueno verte</div>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-4 basic-information">
        <img
          class="profile-image"
          src="./../../../../../assets/images/user.png"
          alt="Foto de perfil"
        />
        <p class="bold name">{{ name }}</p>
        <p>{{ jobTitle }}</p>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-6 center">
            <p class="bold">125</p>
            <p>Projects</p>
            <button class="button-profile" mat-flat-button color="primary">
              <span>Ver perfil</span>
              <span class="material-icons-outlined">face</span>
            </button>
          </div>
          <div class="col-6 center">
            <p class="bold">$1245</p>
            <p>Revenue</p>
            <p>_</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
