.card {
  width: 100%;
  background-color: #d5dafa;
  box-shadow: none;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  &:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  }
  .card-header {
    background-image: url(https://themesbrand.com/skote/layouts/assets/images/profile-img.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 160px;
    padding: 1rem 1rem 2rem 1rem;
    .card-title,
    .card-subtitle {
      color: #556ee6;
      padding: 4px;
    }
    .card-title {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }
  }
  .card-content {
    background-color: #ffffff;
    height: 120px;
    .basic-information {
      display: grid;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      margin-top: -2rem;
      .profile-image {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        background-color: #f6f6f6;
        padding: 4px;
      }
      .profile-name {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
      }
      .profile-email {
        font-size: 13px;
        margin: 0;
        color: #74788d;
      }
    }
    .button-profile {
      margin-top: 10px;
      max-height: 30px;
      padding: 0 10px;
      background-color: #556ee6;
      color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      font-size: 13px;
      font-weight: 600;
      gap: 10px;
      cursor: pointer;
      border: none;
      padding: 10px;
      &:hover {
        background-color: #3f4ea0;
      }
    }
    p {
      margin: 0;
      font-size: 13px;
      --bs-text-opacity: 1;
      color: #74788d;
      &.bold {
        font-size: 15px;
        font-size: 15px;
        margin-bottom: 8px;
        font-weight: 600;
      }
    }
  }
}
