.container {
  display: block;
  background-color: #f6f6f9;
  width: 100%;
  .web {
    display: flex;
    .content {
      width: calc(100% - 250px);
      height: 100vh;
      overflow: auto;
      position: relative;
      app-toolbar {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
      }
      .cover {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
