.card {
  width: 100%;
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-top: 1rem;
  &:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  }
  .card-header {
    padding: 20px 16px;
  }
  .card-content {
    padding: 0 1rem;
    .money-value {
      font-size: 22px;
    }
    .description {
      display: flex;
      gap: 1rem;
      font-size: 13px;
      color: #74788d;
      span {
        color: #34c38f;
      }
    }
    .text {
      color: #74788d;
    }
  }
}
