<mat-card class="card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Ganancia mensual</mat-card-title>
      <mat-card-subtitle>Este mes</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-9">
        <p class="money-value">$34,252</p>
        <p class="description">
          <span>12%</span>
          From previous period
        </p>
        <p class="text">Elaboramos el pensamiento digital, gráfico y dimensional.</p>
      </div>
      <div class="col-3">
        <canvas id="range">{{ chart }}</canvas>
      </div>
    </div>
  </mat-card-content>
</mat-card>
