<div class="card">
  <div class="card-header">
    <div class="card-title">Ganancia mensual</div>
    <div class="card-subtitle">Este mes</div>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-9">
        <p class="money-value">$34,252</p>
        <p class="description">
          <span>12%</span>
          From previous period
        </p>
        <p class="text">
          Elaboramos el pensamiento digital, gráfico y dimensional.
        </p>
      </div>
      <div class="col-3">
        <canvas id="range">{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>
