<div class="content">
  <p class="content-title">Filtro</p>
  <div class="section no-margin">
    <p class="section-title">Precio</p>
    <ul class="section-content">
      <li *ngFor="let price of prices" class="section-content-item">
        <input type="checkbox" name="price" [value]="price.id" [id]="'price_'+price.id" [checked]="price.checked"
          (change)="price.checked = !price.checked; filterPrice()">
        <label for="{{'price_'+price.id}}">{{price.name}}</label>
      </li>
    </ul>
  </div>
  <div class="section">
    <p class="section-title">Producto</p>
    <ul class="section-content">
      <li *ngFor="let product of products" class="section-content-item">
        <input type="checkbox" name="product" [value]="product.id" [id]="'product_'+product.id"
          [checked]="product.checked" (change)="product.checked = !product.checked; filterProducts()">
        <label for="{{'product_'+product.id}}">{{product.name}}</label>
      </li>
    </ul>
  </div>
  <div class="section">
    <p class="section-title">Valoración</p>
    <ul class="section-content">
      <li *ngFor="let item of rating" class="section-content-item">
        <input type="checkbox" name="item" [value]="item.id" [id]="'item_'+item.id" [checked]="item.checked"
          (change)="item.checked = !item.checked; filterItem()">
        <label for="{{'item_'+item.id}}">{{item.name}}</label>
      </li>
    </ul>
  </div>
</div>