<div class="sidenav">
  <img src="./../../../../assets/images/logo.svg" alt="" />
  <mat-nav-list>
    <mat-list-item *ngFor="let item of menu">
      <ng-container *ngIf="item.subMenu">
        <button mat-button [matMenuTriggerFor]="subMenu">{{ item.label }}</button>
      </ng-container>
      <ng-container *ngIf="!item.subMenu">
        <button mat-button>{{ item.label }}</button>
      </ng-container>
      <mat-menu #subMenu="matMenu">
        <button mat-menu-item *ngFor="let subItem of item.subMenu">{{ subItem.label }}</button>
      </mat-menu>
    </mat-list-item>
  </mat-nav-list>
</div>