.sidenav {
  width: 250px;
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;
  background-color: #2a3042;
  color: #fff;
  .logo {
    width: 120px;
    margin: 0 auto;
    display: block;
    padding: 1rem 0;
  }
}
.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list-title {
  padding: 12px 20px;
  letter-spacing: 0.05em;
  pointer-events: none;
  font-size: 11px;
  text-transform: uppercase;
  color: #6a7187;
  font-weight: 600;
  display: block;
  width: 100%;
}

.nav-item {
  button {
    color: #a6b0cf;
    width: 100%;
    cursor: default;
    background-color: transparent;
    border: none;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    padding: 10px 24px;
    justify-content: space-between;
    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color: #1e2330;
    }
    .text {
      padding: 0;
      position: relative;
      font-size: 13px;
      font-weight: 500;
      display: flex;
      align-items: center;
      .icon {
        margin-right: 10px;
        font-size: 18px;
      }
    }
    cursor: pointer;
    .arrow {
      transition: 0.2s;
      &.up {
        transform: rotate(-180deg);
      }
    }
  }

  .nav-sub-item {
    padding-left: 50px;
    overflow: hidden;
    color: #a6b0cf;
    max-height: 0;
    &.sub-menu-visible {
      max-height: 400px;
      &:hover,
      &:focus,
      &:active {
        color: #ffffff;
      }
    }

    button {
      width: 100%;
      padding: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
