<div class="sidenav">
  <img class="logo" src="./../../../../assets/images/logo.webp" alt="" />
  <div class="nav-list">
    <span class="nav-list-title">Menu</span>
    <div class="nav-item" *ngFor="let item of menu">
      <button (click)="toggleSubMenu(item)" *ngIf="item.subMenu">
        <div class="text">
          <i class="icon material-icons-outlined">{{ item.icon }}</i>
          <span>{{ item.label }}</span>
        </div>
        <i class="arrow material-icons-outlined" [class.up]="item.showSubMenu">keyboard_arrow_down</i>
      </button>
      <button [routerLink]="item?.link"  *ngIf="!item.subMenu">
        <div class="text">
          <i class="icon material-icons-outlined">{{ item.icon }}</i>
          <span>{{ item.label }}</span>
        </div>
      </button>
      <ng-container *ngIf="item.showSubMenu">
        <ng-container *ngFor="let subItem of item.subMenu">
          <div class="nav-sub-item" [class.sub-menu-visible]="item.showSubMenu">
            <button [routerLink]="subItem?.link">
              <span>{{ subItem.label }}</span>
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>