<div class="card">
  <div class="card-discount">-{{ data.discount }}</div>
  <img class="card-img-top" src="{{ data.image[0].imageUrl }}" alt="" />
  <div class="card-body">
    <h5 class="card-title">{{ data.name }}</h5>
    <div class="card-description">
      <div class="stars">
        <div class="star" *ngFor="let star of [].constructor(data.stars)">
          ★
        </div>
        <div
          class="star star-grey"
          *ngFor="let star of [].constructor(5 - +data.stars)"
        >
          ★
        </div>
      </div>
    </div>
    <div class="price">
      <span class="price-old">{{
        data.oldPrice.currency + " " + data.oldPrice.value
      }}</span>
      <span class="price-new">{{
        data.newPrice.currency + " " + data.newPrice.value
      }}</span>
    </div>
  </div>
</div>
