<div class="toolbar">
  <div class="toolbar-item">
    <i class="material-icons-outlined">menu</i>
  </div>
  <span class="spacer"></span>
  <div class="toolbar-item">
    <i class="material-icons-outlined">fullscreen</i>
  </div>
  <div class="toolbar-item">
    <i class="material-icons-outlined">notifications</i>
  </div>
  <div class="toolbar-item">
    <i class="material-icons-outlined">account_circle</i>
  </div>
  <div class="toolbar-item">
    <i class="material-icons-outlined">settings</i>
  </div>
</div>
