.card {
  width: 100%;
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 8px;
  padding: 0 1rem;
  overflow: hidden;
  position: relative;
  &:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  }
  .card-header {
    height: 56px;
    line-height: 56px;
    .card-title {
      color: #2e2e2e;
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }
  }
  .card-content {
    section {
      height: 400px;
      margin-top: 1rem;
      overflow: auto;
      table {
        width: 100%;
        .thead {
          background-color: #eff2f7;
        }
        .paymentStatus {
          border-radius: 5px;
          padding: 0 4px;
          font-size: 12px;
          width: fit-content;
          &.Paid {
            color: #34c38f;
            background-color: rgba(52, 195, 143, 0.18);
          }
          &.Chargeback {
            color: #f46a6a;
            background-color: rgba(244, 106, 106, 0.18);
          }
          &.Refund {
            color: #f1b44c;
            background-color: rgba(241, 180, 76, 0.18);
          }
        }
        .payment {
          .icon {
            font-size: 16px;
            height: 16px;
            line-height: 20px;
          }
        }
        .viewDetails {
          border-radius: 20px;
          height: 25px;
          font-size: 12px;
          padding: 0 8px;
          margin-top: 10px;
          max-height: 30px;
          background-color: #556ee6;
          color: #ffffff;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          gap: 10px;
          cursor: pointer;
          border: none;
          &:hover {
            background-color: #3f4ea0;
          }
        }
      }
    }
  }
}
