mat-card {
  width: 100%;
  background-color: #ffffff;
  box-shadow: none;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  mat-card-content {
    section {
      height: 400px;
      margin-top: 1rem;
      overflow: auto;
      table {
        width: 100%;
        .thead {
          background-color: #eff2f7;
        }
        .paymentStatus {
          border-radius: 5px;
          padding: 0 4px;
          font-size: 12px;
          width: fit-content;
          &.Paid {
            color: #34c38f;
            background-color: rgba(52,195,143,.18);
          }
          &.Chargeback {
            color: #f46a6a;
            background-color: rgba(244,106,106,.18);
          }
          &.Refund {
            color: #f1b44c;
            background-color: rgba(241,180,76,.18);
          }
        }
        .payment {
          mat-icon {
            font-size: 16px;
            height: 16px;
            line-height: 20px;
          }
        }
        .viewDetails {
          border-radius: 20px;
          height: 25px;
          font-size: 12px;
          padding: 0 8px;
        }
      }
    }
  }
}
