.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  .filter {
    width: 300px;
  }
  .result {
    width: calc(100% - 300px);
    padding: 0 15px;
    box-sizing: border-box;
    .result-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      .result-title {
        font-size: 1rem;
        font-weight: 500;
        color: #495057;
      }
      .result-sort {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        .sort-label {
          font-size: 1rem;
          font-weight: 400;
          color: #000;
          position: relative;
          .material-icons-outlined {
            font-size: 16px;
            position: absolute;
            left: 13px;
            top: 0;
            line-height: 35px;
          }
        }
        .sort-select {
          width: 150px;
          height: 40px;
          border: 1px solid #d8d8d8;
          border-radius: 5px;
          padding: 0 0.5rem;
          box-sizing: border-box;
          font-size: 1rem;
          font-weight: 400;
          color: #000;
          outline: none;
          cursor: pointer;
        }
      }
      .search {
        appearance: none;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        box-sizing: border-box;
        color: rgb(73, 80, 87);
        cursor: text;
        display: block;
        height: 34.53px;
        letter-spacing: normal;
        line-height: 19.5px;
        margin: 0;
        padding: 7.52px 12px 7.52px 40px;
        width: 184px;
        border: none;
        outline: none;
        transition: .5s;
        &:focus {
          width: 300px;
        }
      }
    }
    .list-of-products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }
}
