<div class="container">
  <div class="filter">
    <app-product-filter></app-product-filter>
  </div>
  <div class="result">
    <div class="result-header">
      <div class="result-title">Polos</div>
      <div class="result-sort">
        <div class="sort-label">
          <input type="search" name="search" class="search" id="search" placeholder="Filtrar..." />
          <i class="material-icons-outlined">search</i>
        </div>
      </div>
    </div>
    <div class="list-of-products">
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
    </div>
  </div>
</div>
