<div class="container">
  <div class="filter">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quisquam in
    temporibus saepe, quos omnis deserunt at iste, dignissimos eaque totam minus
    laborum vel voluptate hic porro neque itaque eum?
  </div>
  <div class="result">
    <div class="result-header">
      <div class="result-title">Polos</div>
      <div class="result-sort">
        <div class="sort-label">asd</div>
        <div class="sort-label">sort-select</div>
      </div>
    </div>
    <div class="list-of-products">
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
      <app-product-mini-card-view></app-product-mini-card-view>
    </div>
  </div>
</div>
